@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Montserrat-Light-300.ttf) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Montserrat-Regular-400.ttf) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Montserrat-Medium-500.ttf) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Montserrat-SemiBold-600.ttf) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts//Montserrat-Bold-700.ttf) format('woff2');
}


 :root {
     --contentsWidth: 80%;
     --contentsMaxWidth: 1320px;
     --navContent1: 160%;
     --navContent2: 80%;
     --color1: #1da1f2;
     --color2: #222831;
     --color3: #393E46;
     --color4: #EEEEEE;
 }

 @media screen and (max-width: 600px) {
     :root {
         --contentsWidth: 90%;
     }
 }

 @media screen and (max-width: 768px) {}

 @media screen and (min-width: 992px) {
     :root {
         --navContent1: 220%;
         --navContent2: 90%;
     }
 }

 @media screen and(min-width: 1200px) {
     :root {
         --navContent1: 280%;
         --navContent2: 120%;
     }
 }

 * {
     box-sizing: border-box;
 }

 html {
     scroll-behavior: smooth;
     font-weight: 400;
        font-size: 16px;
 }

 body {
     margin: 0;
     font-family: 'Montserrat', sans-serif;
     width: 100%;
     overflow-x: hidden;
     background-color: var(--color4);
 }

 h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

 h2 {
     font-size: 1.96rem;
     margin-top: 0;
 }

h3 {
 
    font-weight: 500;
}

 h4 {
    font-weight: 500;
 }

 .inline {
     display: inline;
 }

 a {
     color: white;
     text-decoration: none;
 }

 #menu-bar {
     position: absolute;
     top: 0%;
     z-index: 2;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #menu {
     position: absolute;
     width: var(--contentsWidth);
     max-width: var(--contentsMaxWidth);
     height: 80px;
     top: 1%;
     overflow: hidden;
 }

 #menu-logo {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     height: 50%;
 }

 #icn-container {
     position: absolute;
     width: 65px;
     height: 65px;
     top: 50%;
     transform: translateY(-50%);
     right: 0;
     cursor: pointer;
     overflow: hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 2;
 }

 #icn {
     width: 35px;
     height: 5px;
     background: white;
     transition: all .1s ease-in-out;
 }

 #icn::before,
 #icn::after {
     content: "";
     position: absolute;
     width: 35px;
     height: 5px;
     background: white;
     transition: all .1s ease-in-out;
 }

 #icn::before {
     transform: translateY(-12px);
 }

 #icn::after {
     transform: translateY(12px);
 }

 #icn-container.active #icn {
     transform: translateX(-50px);
     background: transparent;
 }

 #icn-container.active #icn::before {
     transform: rotate(45deg) translate(35px, -35px);
 }

 #icn-container.active #icn::after {
     transform: rotate(-45deg) translate(35px, 35px);
 }

 header {
     height: 80vh;
     width: 100%;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     cursor: default;
 }

header>picture {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     overflow: hidden;
     filter: brightness(.8);
     z-index: -1;
 }

 #header-img {
     position: absolute;
     height: 100%;
     min-width: 100%;
     top: 50%;
     left: 0;
     transform: translateY(-50%);
 }

 #header-container {
     width: var(--contentsWidth);
     max-width: var(--contentsMaxWidth);
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #header-content-box {
     font-weight: 300;
 }

 #nav {
     position: fixed;
     top: -100vh;
     left: 0;
     width: 100%;
     height: 100vh;
     background: var(--color2);
     transition: .2s;
     z-index: 1;
     color: white;
     display: flex;
     align-items: flex-end;
     justify-content: center;
 }

 #nav-panel {
     position: absolute;
     bottom: 50%;
     width: var(--contentsWidth);
     max-width: var(--contentsMaxWidth);
     max-height: calc(100% - 100px);
     transform: translateX(-100vw) translateY(50%);

     display: flex;
     flex-direction: column;
          flex-wrap: wrap;
 }

 #nav-panel.active {
     animation: navPanelMove .25s;
     animation-delay: .25s;
     animation-fill-mode: forwards;
 }

 nav.active {
     transform: translateY(100vh);
 }

 .nav-choice {
     margin: 0 0 0.1rem 0;
     font-size: 1.2rem;
     font-weight: 600;
     cursor: pointer;
 }

 .nav-link {
     position: relative;
     display: inline-block;
     padding: 1rem;
     overflow: hidden;
 }

 .nav-link::after {
     position: absolute;
     content: "";
     width: 90%;
     height: 0.12rem;
     border-radius: 10px;
     background-color: white;
     bottom: 0;
     left: -100%;
     transition: .1s ease-out;
 }

 @keyframes navPanelMove {
     0% {
         transform: translateX(-100vw) translateY(50%);
     }

     100% {
         transform: translateX(0) translateY(50%);
     }
 }

 .nav-link:hover::after {
     left: 5%;
 }

 article {
     position: relative;
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 100%;
 }

 section {
    min-height: 60vh;
    padding: 50px 0;
     position: relative;
 }

 [id^="section-"] {
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 1;
 }

 #section-offer {
    position: relative;
     padding: 35px 0;
 }

 .title {
     flex-basis: 30%;
     text-align: right;

 }

 #offer-container {
    margin: 0 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-basis: 73%;
    max-width: calc((var(--contentsMaxWidth) / 4.5 + 20px - 50px) * 3 + 70px)
 }

 .offer {
    --boxesSize: calc(var(--contentsMaxWidth) / 4.5 - 50px);
    width: var(--boxesSize);
    height: var(--boxesSize);
    margin: 10px 6px;
    border-radius: 20px;
    background-color: var(--color2);
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: default;
    color: white;
    box-shadow: 0px 0px 10px #393E46;
 }

 .offer-content {
     width: 90%;
     height: 90%;
 }

 .offer-content-head {
     display: flex;
 }

 .offer-content-head-text {
     width: 100%;
     margin: auto;
     text-align: center;
     text-transform: capitalize;
 }

 .offer-content-head-svg {
     fill: var(--color1);
     min-width: 40px;
     min-height: 40px;
     width: 85px;
     height: 85px;
     padding-right:0.5rem;
 }

 .offer-body {
     margin-top: 0.2rem;
     padding-bottom: 1rem;
     font-weight: 300; /* WHEN U CHANGE IT, CHANGE h5 TOO */
 }

 .offer-body>h5 {
    font-weight: 300;
}

 .basic-font {
    font-size: 1rem;
 }



 .offer:last-child {
     cursor: pointer;
     background: var(--color1);
     box-shadow: 0px 0px 10px #044f7e;
 }

 .offer:last-child .offer-content-head-svg {
     fill: white;
 }

 .offer:last-child:hover {
     transform: scale(1.01);
     background: #098bdb
 }

 #section-text {
     display: block;
     text-align: center;
     width: var(--contentsWidth);
     max-width: var(--contentsMaxWidth);

 }

 #text-box {
     line-height: 160%;
     letter-spacing: 0.2px;
 }

 #section-experience {
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     text-align: center;
 }

 #section-experience>h2 {
     flex-basis: 100%;
 }

 .exp-box {
    width: 300px;
 }

 .exp-box-head {
     font-weight: 500;
     font-size: 2rem;
     margin-bottom: 1rem;
 }

 .exp-box-body {
     font-weight: 300;
     font-size: 1.2rem;
 }

 #section-coop {
     flex-direction: column;
     justify-content: space-around;
     text-align: center;
 }

 #coop-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
 }

 .coop-box {
     --widthLogo: 160px;
     width: var(--widthLogo);
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 20px;
 }

 #section-contact {
     flex-direction: column;
     width: var(--contentsWidth);
    max-width: var(--contentsMaxWidth);
 }

 #contact-container {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     width: 100%;
 }

 .contact-box {
     position: relative;
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 280px;
     height: 150px;
     margin: 1rem;
 }

 .contact-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 75px;
     height: 75px;
     border-radius: 50%;
     background-color: var(--color3);
 }

 .contact-icon-svg {
     width: 40px;
     fill: var(--color1);
 }

 .contact-text {
     text-align: center;
 }

 .contact-hover:hover {
     transform: scale(1.01);
 }

 #footer-container {
    min-height: auto;
     width: var(--contentsWidth);
     max-width: var(--contentsMaxWidth);
     padding: 1.2rem 0;
     position: relative;
     display: flex;
 }

 #footer {
     display: flex;
    width: 100%;
     flex-wrap: wrap;
     flex-direction: row;
     justify-content: space-between;
     align-items: flex-end;
}

#footer-nav {
    display: flex;
    flex-direction: column;
}

 #footer-nav>* {
    font-size: 0.8rem;
     margin-bottom: 0.1rem;
 }

 #copyright {
    height: auto;
    font-weight: 300;
    display: block;
    margin: 0.4rem 0;
}

 [id*="js-scroll-link-footer-"] {
     cursor: pointer;
     display: inline-block;
     padding: 3px 20px;
     margin-left: -20px;
     font-weight: 300;
 }

 [id*="js-scroll-link-footer-"]:hover {
     text-decoration: underline;
 }

 [class^="__style-color-"] {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .__style-color-1 {
     background: var(--color2);
     color: white;
 }

 .__style-color-2 {
     background: var(--color4);
     color: var(--color2);
 }

 .__style-color-3 {
     background: var(--color1);
     color: var(--color4);
 }

 #__disable-scrolling-fixed {
     overflow-y: hidden;
     position: fixed;
 }

 #__disable-scrolling {
     overflow-y: hidden;
 }

 .js__scroll-animation {
     transform: translateY(100px);
     opacity: 0;
 }


 @media screen and (max-width: 480px) {
     #header-box {
         justify-content: center;
         position: absolute;
     }

     .exp-box-head {
         font-weight: 500;
     }

     .offer {
         width: 85vw;
         height: auto;
     }

     .title,
     #section-text {
         width: 90%;
     }

     .offer-content-head {
         margin-bottom: 15px;
     }

     .offer-body {
         padding-bottom: 50px;
     }
 }

 @media screen and (max-width: 640px) {
    section {
        min-height: auto;
     }  
 }

 @media screen and (max-width: 640px) and (orientation: landscape) {
    #menu {
        height: 55px;
    }
}

 @media screen and (min-width: 992px) {
     #section-experience {
         flex-direction: row;
     }

     .coop-box {
         width: 200px;
     }
 }

 @media screen and (max-width: 1200px) {
     #section-offer {
         flex-direction: column;
     }

     .reverse>.title {
         text-align: center;
     }

     .title {
         text-align: center;
         margin: 20px 0 60px 0;
     }

     #section-offer {
         padding: 0;
     }
 }

 ::-webkit-scrollbar {
     width: 12px;
 }

 ::-webkit-scrollbar-track {
     background: var(--color4);
 }

 ::-webkit-scrollbar-thumb {
     background: var(--color2);
 }

 ::-webkit-scrollbar-thumb:hover {
     background: #1a1f25;
 }

.font-size-basic {
    font-size: 1rem;
}
